.test-container {
	margin-left: 15vw;

	@media (max-width: 1025px) {
		margin-left: 0;
	}
}

.test {
	width: 100%;
}

.results-button {
	margin-top: 5vw !important;
	margin-bottom: 5vw !important;

	@media (max-width: 1025px) {
		margin-top: 10vw !important;
		margin-bottom: 10vw !important;
	}
}

.test-title {
	width: fit-content;
	font-size: 3rem;

	@media (max-width: 625px) {
		font-size: 2.5rem;
	}
}

.morpheus {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
	margin-top: 3vw;
}

.pre-wrap {
	white-space: pre-wrap;
}

.answers{
	height: fit-content;
}

.line {
	display: block;
	margin-bottom: 5px; /* Adjust spacing as needed */
}

.test-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	width: 100%;
	background-color: oklch(var(--b2));
	min-height: 10vh;
	padding: 2vw 0;
}

.matrix-text {
	color: rgba(255, 255, 255, 0.859);
	margin-top: 5vw;
	border: 1px solid oklch(var(--p));
	border-radius: 2vw;
	width: fit-content;
	margin: auto;
	padding: 0.3vw 1vw;
	opacity: 0.9;
	font-size: 0.9rem;
}

.blue-pill {
	color: rgb(0, 149, 255);
	// color: oklch(var(--s));
	padding: 10px;
	border-radius: 30px;
	min-width: 30%;
	padding-left: 1vw;
	padding-right: 1vw;
	height: fit-content;
	width: fit-content;
	cursor: pointer;
	line-height: normal;


	&-active {
		background-color: rgb(0, 149, 255);
		// background-color: oklch(var(--s));
		//border-color: white;
		color: white;
		font-weight: bold;
	}

	@media (max-width: 600px) {
		min-height: 70px;
		padding: 5px;
	}
}

.red-pill {
	color: rgb(250, 29, 77);
	// color: oklch(var(--p));
	// color: rgb(188, 90, 148);
	padding: 10px;
	border-radius: 30px;
	min-width: 30%;
	padding-left: 1vw;
	padding-right: 1vw;
	height: fit-content;
	width: fit-content;
	cursor: pointer;
	line-height: normal;

	&-active {
		background-color: rgb(250, 29, 77);
		// background-color: oklch(var(--p));
		// background-color: rgb(188, 90, 148);
		color: white;
		font-weight: bold;
	}

	@media (max-width: 600px) {
		min-height: 70px;
		padding: 5px;

	}
}

.index {
	border: 2px solid oklch(var(--a));
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 12px;
}
