.format-choice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5vw;
	width: 50%;
}

.mbti-type {
	border: 3px solid white;
	border-radius: 5vw;
	padding: 1vw;
	width: fit-content;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);
	text-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
}

.mac {
	width: 100% !important;
}

.square {
	width: 50%;
}

.results-container {
	margin-left: 15vw;
	width: 85vw;

	@media (max-width: 1025px) {
		margin-left: 0;
		width: 100vw;
	}
}

.gender-selection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	border-radius: 2vw;
	margin-top: 6vw;

	@media (max-width: 767px) {
		margin-top: 8vw;
	}
}

.line-container > div{
	display: block;
	margin-bottom: 5px; /* Adjust spacing as needed */
}

.create-btn {
	display: flex;
	justify-content: center;
	// width: 40%;
	height: 4rem;
	line-height: 1.5rem;
	min-height: fit-content;
	text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		width: 80%;
		margin: 2vw auto;
		padding: 2vw 0;
	}
}

.create-btn:hover {
	transform: scale(0.9);
}

.gender-options {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1vw;
}

label {
	padding-left: 1vw;
	padding-right: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gender-radio {
	margin-right: 5px;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	max-width: 60%;
	padding: 2vw;
	border-radius: 2vw;
	background-color: oklch(var(--b3));
}

.soulgem {
	width: fit-content;
	height: fit-content;
	max-width: 80%;
	padding: 1vw;
	border-radius: 2vw;
	background-color: oklch(var(--b3));
}

.formats {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-top: 0px !important;
	background-color: oklch(var(--b3));
	padding-top: 2vw;
	padding-bottom: 3vw;
	border-radius: 2vw;
}

.mbti-description {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	border-radius: 2vw;
	width: 70%;
	border: 1px solid oklch(var(--a));
	//background: linear-gradient(135deg, #7b4397 0%, #dc2430 100%);
	//background: linear-gradient(135deg, #007bff 0%, #e83e8c 100%);
	background-color: var(--rt-color-dark);
	box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);

	@media (max-width: 1025px) {
		width: 95%;
	}
}

.mbti-explanation {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	border-radius: 2vw;
	width: 70%;
	margin-bottom: 1vw;
	border: 1px solid oklch(var(--p));
	background-color: var(--rt-color-dark);
	margin-top: 2vw;
	margin-bottom: 4vw;
	opacity: 0.8;
	box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);

	@media (max-width: 1025px) {
		width: 95%;
		margin-bottom: 2vw;
	}
}

.fit {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.further {
	width: fit-content;
	padding: 0.5vw;
	// border : 1px solid oklch(var(--s));
	// border-radius: 1vw;
	margin-bottom: 3vw;
}

.results-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	width: 100%;
	background-color: oklch(var(--b2));
	min-height: 10vh;
	padding: 2vw 0;
}

.mbti-title {
	width: fit-content;
	font-size: 4rem;
}
